<!DOCTYPE html>
<html ng-app="seomonsterApp">
<head>
    <title>Catalog</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/angular-loading-bar/build/loading-bar.css">
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <!--<link rel="stylesheet" href="css/main.css">-->
    <!-- endbuild -->
</head>
<body>
<div class="container" ng-controller="TestCtrl">
    <nav><a href="#/">Home</a>|<a href="#/metrics">Метрики</a></nav>

    <div class="well">
        <label for="phrases">Фразы:</label>
        <div class="row">
            <div class="col-md-6">
                <textarea class="form-control" rows="5" id="phrases" ng-model="phrases"></textarea>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" rows="5" id="response" ng-bind="response.message"></textarea>
            </div>
            <!--<h2>{{phrases}}</h2>-->
        </div>
        <button ng-click="onclick()" >GET</button><br>
        <button ng-click="sendData()" >SEND</button><br>
        <ng-view></ng-view>
    </div>
</div>

<!-- build:js app/vendor.js -->
<!-- bower:js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/angular/angular.js"></script>
<script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<script src="libs/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
<script src="libs/angular-loading-bar/build/loading-bar.js"></script>
<!-- endinject -->
<!-- endbuild -->

<!-- build:js app/app.js  -->
<!-- inject:js -->
<!--<script src="js/app.module.js"></script>-->
<!--<script src="js/home/home.controller.js"></script>-->
<!--<script src="js/metrics/metrics.controller.js"></script>-->
<!--<script src="js/metrics/metrics.service.js"></script>-->
<!--<script src="js/metrics/metrics.modal.controller.js"></script>-->
<!-- endinject -->
<!-- endbuild -->

<script>
    (function() {
        'use strict';

        var app = angular.module('seomonsterApp', []);

        app.constant('api', {
            'testUrl' : 'request.json',
            'get' : 'getUrls',
            'post' : 'api/phrases'
        });

        app.controller('TestCtrl', function ($scope, $http, api) {

            var dataToServer = $scope.phrases;

            var config = {
                headers : {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
            };

            $scope.onclick = function () {
                console.log(dataToServer);
                $http.get(api.testUrl).success(function (response) {
                    $scope.urls = response.urls;
                });
            };    
            $scope.sendData = function () {
                console.log(dataToServer);
                dataToServer = $scope.phrases;
                var res = $http.post(api.post,$scope.phrases, config);
                res.success(function(response, status, headers, config) {
                    console.info(response);
                    $scope.response = response;
                });
                res.error(function(data, status, headers, config) {
                    alert( "failure message: " + JSON.stringify({data: data}));
                });
            }    
        })
        
        
    })();

</script>
</body>
</html>